body {
    padding: 20px;
}
#createDate {
    margin-bottom: 20px;
}
#calendar, #timeForm {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#timeForm label {
    display: block;
    margin-top: 10px;
}
#timeForm input {
    margin-bottom: 10px;
    width: 100%;
}
#confirm {
    display: block;
    margin-top: 20px;
}
#datesContainer {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}