body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 20px;
    background-color: #121315 !important;
    color: #fff !important;
}
#createDate {
    margin-bottom: 20px;
}
#calendar, #timeForm {
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#timeForm label {
    display: block;
    margin-top: 10px;
}
#timeForm input {
    margin-bottom: 10px;
    width: 100%;
}
#confirm {
    display: block;
    margin-top: 20px;
}
#datesContainer {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
#datesContainer tr {
    border: 1px solid #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.expired {
    color: grey;
    font-style: italic;
    border: 1px solid red;
}